.shop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 90vh;
    margin-top: 10vh;
    width: 100%;
}

.product-filter {
    display: none;
    position: fixed;
    left: 0;
    top: 10vh;
    width: 23%;
    height: 90vh;
    padding: 1vw;
}

.product-filter .filter-title {
    font-size: 1.3rem;
    margin: 1rem 0 .5rem 0;
}

.product-filter .rule {
    width: 23vw;
    border-top: .01rem solid var(--secondary-color);
}

.product-header {
    width: 96%;
    margin-left: 2%;
    align-self: center;
    height: calc(3rem + 1vw - .5rem);
    padding-bottom: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.product-header label, .product-header h1 {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

.product-header label {
    margin-right: 0.2rem;
}

.product-container {
    display: flex;
    width: 98%;
    flex-direction: row;
    flex-wrap: wrap;
}

#items-displayed {
    border: none;
    font-size: 0.9rem;
}

#items-displayed:focus {
    outline: none;
}

@media only screen and (min-width: 576px) {
    .product-container {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .product-container {
        width: 75%;
        margin-left: 25%;
    }

    .product-header {
        width: 74%;
        margin-left: 25%;
    }

    .product-filter {
        display: block;
    }
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #e0e0e0;
  }
  .product-item h1 {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .product-item p {
    margin: 5px 0;
  }
  
  .star-rating {
    display: flex;
    align-items: center;
  }
  
  .star-rating p {
    margin-left: 5px;
  }
  